%div.clearblock
%footer
  %div.footer-block
    %div.socials
      = link_to image_tag("vkontakte.png", alt: "vk",  style: "width: 45%")
      = link_to image_tag("facebook.png", alt: "vk",  style: "width: 45%")
      = link_to image_tag("google.png", alt: "vk",  style: "width: 45%")
    .copy
      %i.fa.fa-copyright.iconsMain
        2016 Experteese

