.image
  .row
    .col-md-3
      .left_controls
        .select_theme
          = render 'work/button_theme_select', locale: @current_locale
          %br
.col-md-9
  .image_display
    .row.image
      .col-md-12
        %h2.up-theme{:title => t('.theme_name')}
          #{@selected_theme}
      .col-md-12
        %h2.up{:title => t('Image file name')}
          #{@selected_image_name}
